.row{
    display: flex;
    justify-content: space-evenly;
}
.col, .col-2, .col-3{
    text-align: center;
    color:white;
    background: rgb(81, 150, 173);
    border: 1px rgb(81, 150, 173);
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 50px;
}
.col{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}